<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hortência´s Garden</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/DataTables-1.11.3/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/DataTables-1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/DataTables-1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script src="~/lib/jquery.mask/jquery.mask.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4f4d4d">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Loja</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cadastros
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>@Html.ActionLink("Parceiros", "Parceiro", "Parceiro", null, new { @class = "dropdown-item" })</li>
                                <li class="dropdown-divider"></li>
                                <li>@Html.ActionLink("Produtos", "Produto", "Produto", null, new { @class = "dropdown-item" })</li>
                                <li>@Html.ActionLink("Grades", "Grade", "Grade", null, new { @class = "dropdown-item" })</li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Tabela de Preços</a></li>
                                <li><a class="dropdown-item" href="#">Precificação dos Produtos</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Lista de Opções</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Movimentação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Pedido/Vendas</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Troca de Produtos</a></li>
                                <li><a class="dropdown-item" href="#">Devolução Clientes</a></li>
                                <li><a class="dropdown-item" href="#">Consiguinação</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Baixa de Produtos</a></li>
                                <li><a class="dropdown-item" href="#">Ganho de Produtos</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Movimentação do Estoque</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Financeiro
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Contas a Pagar</a></li>
                                <li><a class="dropdown-item" href="#">Contas a Receber</a></li>
                                <li class="dropdown-divider"></li>
                                <li>@Html.ActionLink("Fluxo de Caixa", "Fluxo_Caixa", "Financeiro", null, new { @class = "dropdown-item" })</li>
                                <li><a class="dropdown-item" href="#">Ficha Financeira dos Clientes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid px-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Loja - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>

    @Html.Raw(Geral.RenderNotification())
   
</body>

</html>
